doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js") 
    //- bootstrap
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous")

    link(rel="shortcut-icon" href="./img/1.png") 
    link(rel="stylesheet" href="./css/style.sass")
    link(rel="stylesheet" href="./css/custom.scss")
    link(rel="stylesheet" href="./css/theme.sass")
 
    script(type="module" src="./js/custom.js")
    script(type="module" src="./js/roma.js")
    script(type="module" src="./js/fileSaver.js") 
    //- script(type="module" src="./js/leha-shalun.js") 
    //- script(type="module" src="./js/fileSaverLehi.js") 
    //- script(type="module" src="./js/daniil.js") 
    //- script(type="module" src="./js/nazar.js")
    title Image Generator

  body
    preloader
    .preloader
      h2.loader-title Please wait #[span.dot(style="--delay:0") .] #[span.dot(style="--delay:1") .] #[span.dot(style="--delay:2") .]
      .circle-loader
    .switcher-wrapper 
      label.switch-theme
        input#theme-checkbox(type="checkbox" checked)
        span.slider-theme.round
    section.burger 
      i.fa-solid.fa-burger
    section.menu.px-3
      .cross &times;
      .toggle.mb-3
        h3.placeholder Placeholder
        label.switch
          input(type="checkbox")
          span.slider.round
        h3.random Random

      section.row.mb-3
        h4 Size
        .col
          label.form-label(for="exampleFormControlInput1") Width
          input.form-control.width-input#width(type="number" placeholder="1920" value="1920")
        .col
          label.form-label(for="exampleFormControlInput1") Height
          input.form-control.height-input#height(type="number" placeholder="1080" value="1080")
      section.row.mb-3
        h4 Colors
        .col
          label.form-label(for="exampleFormControlInput1") Background
          input.form-control.background-input#background(type="color" placeholder="#000" value="#000")
        .col
          label.form-label(for="exampleFormControlInput1") Text color
          input.form-control.color-input#color(type="color" placeholder="#fff" value="#fff")
      section.row.mb-3
        h4 Text
        .col
          input.form-control.text-input#text(type="text" placeholder="type your text here" value="Damirka Full HD")
      section.row.mb-3 
        h4 Download format
        .col
          select.form-select.mb-3.extension-input#extension
            option(value=".png") png
            option(value=".jpg") jpg
            option(value=".jpeg") jpeg
            //- Добавил айди к кнопке. Так нужно 
          a#download.download-link.btn.btn-secondary(href="#" download) Download

  section.text 
    h1 Random image generator

  .container
    .content
      .img-wrapper
        //- картинка
        img#image.content-image.generated-image(src="https://dummyimage.com/1000x1000/000/fff/.png?text=Damirka+Full+HD")
      .content-overlay
      .content-details.fadeIn-bottom
        section.options
          h2 What do you want to do?
          .option-block
            a(href="#").option.edit-image
              .icon
                i.fa-solid.fa-pen
              h3.op-title Edit image
            a(href="#").option.random-image
              .icon
                i.fa-solid.fa-images
              h3.op-title Random image
            //- эта кнопка привязана к модалке bootstrap через дата-атрибуты
            a(href="#" data-bs-toggle="modal" data-bs-target="#exampleModal").option.download-image
              .icon
                i.fa-solid.fa-circle-arrow-down
              h3.op-title  Tut nichego net

  footer
    section.about-us
      h3 Random image generator made by 
        a(href="#") EXPAND
        |  team  
        //- пробел недописали)
      section.social-media
        .media 
          a(href="") 
            i.fa-brands.fa-instagram
        .media 
          a(href="") 
            i.fa-brands.fa-facebook
        .media 
          a(href="") 
            i.fa-brands.fa-github

  //- модалка
  .modal.fade#exampleModal(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
    .modal-dialog
      .modal-content
        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
        .modal-body 
          section.thanks 
            h3 Thanks for using our website
            section.cards 
              .card 
                .icon-thanks
                  i.fa-solid.fa-heart
                  p  3.5k
                .text-thanks 
                  h5 Like
                  p  Leave a like if you liked it
              .card
                .icon-thanks
                  i.fa-solid.fa-dollar-sign
                .text-thanks 
                  h5 Donate
                  p  If you have an opportunity, support our efforts

  script(src="js/daniil.js" type="module") 
  script(src="js/fileSaver.js")






